APP_BUILD_ID=quickstart-local
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=blackops
POSTGRES_USER=blackops
POSTGRES_PASSWORD=blackops
BLACKOPS_SCHEMA=blackops
HTTP_PORT=8080
CLASSIC_HTTP_PORT=8081
FRANKENPHP_MAX_REQUESTS=1000
SAMPLE_API_TOKEN=local-example
HOST_UID=1000
HOST_GID=1000
WORKER_ID=quickstart-worker-1
WORKER_LEASE_SECONDS=60
WORKER_HEARTBEAT_SECONDS=10
WORKER_GRACE_SECONDS=20
WORKER_CONTINUE_AFTER_HANDLER_FAILURE=true
RETENTION_TRANSPORT_PAYLOAD_DAYS=30
RETENTION_JOURNAL_DAYS=90
RETENTION_OUTCOME_DAYS=30
RETENTION_DEAD_LETTER_DAYS=90
RETENTION_POLICY_REF=quickstart-retention-v1
RETENTION_ACTOR=quickstart-maintenance
